#contact {
  margin-bottom: 4em;
  .contact-container {
    max-width: 350px;
    margin: 0 auto;
    .contact-left {
      .logo {
        height: 3em;
        img {
          height: 100%;
        }
      }
      address {
        margin-top: .75em;
        text-transform: uppercase;
        font-style: normal;
        font-size: 0.75em;
        font-weight: bold;
        line-height: 1.4em;
        span:last-child {
          margin-left: 1.5em;
        }
      }
    }

    .contact-right {
      margin-top: 2em;
      p {
        text-transform: uppercase;
        font-style: normal;
        font-size: 0.75em;
        font-weight: bold;
        line-height: 1.4em;
      }
      .sign-up {
        margin-top: 0.5em;
        input {
          border: none;
          border-radius: 5px;
          background-color: #eee;
          padding: .5em;
          width: 150px;
          text-transform: uppercase;
          font-size: 0.75em;
          font-weight: bold;
        }

        button {
          border: none;
          background-color: #999;
          padding: .5em 1.2em;
          border-radius: 5px;
          font-size: 0.75em;
          text-transform: uppercase;
          font-weight: bold;
          color: #eee;
          margin-left: .3em;
        }
      }
    }
  }
}


@media (min-width: 960px) {
    #contact {
      .contact-container {
        width: 100%;
        max-width: none;

        .contact-col:nth-child(odd) {
          display: inline-block;
          width: 40%;
          padding: 0;
        }
        .contact-col:nth-child(even) {
          display: inline-block;
          width: 18%;
          padding: 0;
        }
        .contact-col:nth-child(3) {
          box-sizing: border-box;
          padding-left: 10.5%;
        }
      }
    }
}

@media (min-width: 1200px) {
  #contact {
    .contact-container {
      .contact-col:nth-child(3) {
        padding-left: 15%;
      }
    }
  }
}