#hero {
  margin-top: 3.5em;
  .hero-image {
    img {
      width: 100%;
    }
  }

  .mobile-content {
    h1 {
      font-weight: 600;
      margin: .3em 0;
    }
    p {
      line-height: 1.4em;
      font-weight: bold;
      color: #979797;
    }

    .mobile-call-to-action {
      background-color: #636363;
      margin: 1em auto;
      width: 85%;
      padding: .3em;
      p {
        color: #80c046;
        font-weight: bold;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 0.80em;
      }
    }
  }
}